body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #00ff00; /* Green background color */
    padding: 20px;
    text-align: center;
    margin: 50px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}
